
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
ul{
    max-width: 500px;
}

li{
    list-style: none;
    border:1px solid black;
    padding: 5px;
}

input{
    width:100%;
    border:none;
}

h1{
    margin-left: 10px;
}

.fa-times:hover{
    color:red
}